
.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: white;
  width: 650px;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 450px;
}

.image {
  border: 3px solid firebrick;
}

.list {
  list-style-type: square;
}

.subtitle {
  background-color: rgb(36, 35, 35);
  padding: 5px 10px;
}

.accent {
  font-size: 25px;
  margin: 3px;
  font-weight: 700;
}